.containerBrands {
   background-color: white;
   padding: 1em 0;
}

.carouselBrands {
   display: flex;
   gap: 20px;
   overflow-x: scroll;
   padding: 1em 0.5em;
   scrollbar-color: $gold transparent;
}

.carcardCarouselBrands {
   align-items: center;
   display: flex;
   justify-content: center;
   min-height: 120px;
   min-width: 300px;
}

.cardCarouselImage {
   width: auto;
   max-height: 75px;
}

.containerCars {
   display: flex;
   align-items: center;
   overflow-x: scroll;
   padding: 1em 0;
   scrollbar-color: $gold transparent;
   gap: 20px;
}

.cardCar {
   min-height: 470px;
   min-width: 300px;
}

.carContainer {
   padding: 0.5em 1em;
   line-height: 10px;
   text-align: center;
   color: $black;
}

.carContent {
   display: flex;
   justify-content: center;
   gap: 5px;
   padding: 0.5em 0;
}

.carTitle {
   font-size: 1.5em;
   font-weight: 300;
   text-transform: uppercase;
}

.carPrice {
   color: $dark-orange;
   font-size: 1.7em;
   font-weight: 600;
}

.carColor {
   color: $dark-gold;
}

.carYear {
   color: $dark-orange;
}

.carSpec {
   font-weight: 600;
}
