.containerBrands,
.containerSalesman {
   text-align: center;
   background-color: white;
   padding: 1em 0;
}

.containerPopular {
   background-color: #0e0c0a;
}

.categories {
   display: grid;
   gap: 10px;
   grid-template-columns: 1fr 1fr;
}

.categoryImage {
   width: 100%;
}

.categoryTitle {
   color: white;
}

#popularTitle {
   color: $yellow;
}

.containerContent {
   padding: 50px 0;
}

.carouselBrands {
   display: flex;
   gap: 20px;
   overflow-x: scroll;
   padding: 1em 0.5em;
   scrollbar-color: $gold transparent;
}

.carcardCarouselBrands {
   align-items: center;
   display: flex;
   justify-content: center;
   min-height: 120px;
   min-width: 300px;
}

.cardCarouselImage {
   width: auto;
   max-height: 75px;
}

.containerCars {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   padding: 1em 0;
   scrollbar-color: $gold transparent;
   gap: 5px;

   &.carouselCars {
      display: flex;
      flex-direction: row;
      gap: 20px;
      overflow-x: scroll;
   }
}

.cardCar {
   min-height: 470px;
   min-width: 300px;
   &.cardPopularCar {
      min-height: 300px;
      min-width: 100%;
   }
}

.cardCarImage {
   min-height: 230px;
   background: url("../img/default.png") center / cover no-repeat;
   &.cardPopularCarImage {
      min-height: 120px;
   }
}

.carContainer {
   padding: 0.5em 1em;
   line-height: 10px;
   text-align: center;
   color: $black;

   &.popularCarContainer {
      text-align: left;
      line-height: 8px;
      padding: 0.4em;
   }

   &.popularCarButton {
      text-align: center;
      padding: 1em 0;
   }
}

.carContent {
   display: flex;
   justify-content: center;
   gap: 5px;
   padding: 0.5em 0;

   &.popularCarContent {
      display: grid;
      grid-template-columns: repeat(2, 2fr);
      font-size: 0.8em;
      margin-left: 0.3em;
   }
}

.carTitle {
   font-size: 1.5em;
   font-weight: 300;
   text-transform: uppercase;

   &.popularCarTitle {
      max-width: 100%;
      font-size: 1.1em;
   }
}

.carPrice {
   color: $dark-orange;
   font-size: 1.7em;
   font-weight: 600;

   &.popularCarPrice {
      font-size: 1.4em;
   }
}

.carColor {
   color: $dark-gold;

   &.popularCarColor {
      font-size: 1em;
   }
}

.carYear {
   color: $dark-orange;

   &.popularCarYear {
      font-size: 1em;
   }
}

.carSpec {
   font-weight: 600;

   &.popularCarSpec {
      text-align: end;
   }
}

.carContentButton {
   background-color: $gold;
   border: 1.6px solid $dark-gold;
   border-radius: 10px;
   font-size: 1.2em;
   font-weight: 300;
   justify-content: center;
   margin: 0 auto;
   padding: 0.5em 1em;
}

.salesman {
   margin-top: 30px;
   padding: 1em;
   display: flex;
   flex-direction: column;
   gap: 10px;
   color: black;
   &:hover {
      background-color: $gold;
   }
}

.salesmanName {
   font-size: 2em;
   font-weight: 300;
}

.salesmanDesc {
   color: $dark-gold;
   font-size: 0.8em;
   font-weight: 700;
   text-transform: uppercase;
   letter-spacing: 2px;
}

.salesmanImage {
   border: 1px solid $dark-gold;
   border-radius: 100%;
   margin: 0 auto;
   width: 200px;
   height: 200px;

   &.salesmanImage--default {
      background: url("../img/default.png") center / cover no-repeat;
   }
   &.salesmanImage--tcar {
      background: url("../img/tcar.jpg") center / cover no-repeat;
   }
}
