.container00 {
   &.container01 {
      background-image: url("../img/lamborghini-banner.jpg");
   }

   &.carousel01 {
      background-color: red;
   }
}

#headerContent {
   color: #aaaaaa;
}

.headerLogo {
   width: 200px;
}

.headerIcon {
   font-size: 14px;
   padding: 0.5em;
}

.headerSearch {
   border-color: #aaaaaa;
   background-color: transparent;
   &::placeholder {
      color: white;
   }
}

#headerButton {
   border: 1px solid $gold;
}

.customToggler {
   font-size: 32px;
   color: $secondary-gold;
}

.footer {
   display: grid;
   grid-template-columns: 1fr 1fr;
   color: $yellow;
}

.footerCopy {
   color: white;
}

.footerContent {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.footerIcon {
   color: white;
   padding: 0 0.5em;
}
