@import url("assets/css/header.css");
@import url("assets/css/principal.css");
@import url("assets/css/inventario.css");

:root {
   --branco: #fff;
   --cinza: #333;
   --cinza-claro: #777;
   --cinza-mais-claro: #787878;
   --fonte-principal: "Roboto", sans-serif;
   --preto: #000;
   --verde: #00a631;
   --vermelho: #d41921;
}

body {
   font-family: var(--fonte-principal);
   font-size: 1.6rem;
   font-weight: 400;
}
